
<div id="navbar" class="navbar navbar-default  navbar-admin navbar-fixed-top">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
        SolarBrain</sup>
        </small>
      </a>
    </div>

    <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" style="width:300px;" autocomplete="off" placeholder="Search customers here" id='search-customer'>
          <ul class='search-list'>
          </ul>
        </div>
    </form>
    <% if user_signed_in? %>
      <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
					<li class="task_notification_header">
            <%= render "admin/shared/notification" %>
					</li>
          <li class="">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <%= image_tag current_user.avatar.small, class: 'nav-user-photo' %>
              <span>
                <%= current_user.name %>
              </span>
              <i class="ace-icon fa fa-caret-down"></i>
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li>
                <%= link_to admin_settings_path do %>
                  <i class='ace-icon fa fa-user'></i>
                  Profile
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class='ace-icon fa fa-power-off red'></i>
                  Logout
                <% end %>
              </li>

            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
