
<ul class="nav nav-list" data-turbolinks="false">
  <li class="<%= active_menu(%w( home ), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-building-o admin-color"></i>
      <span class="menu-text"> Home </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( home ), actions: ['index'], namespace: 'admin') %>">
        <%= link_to admin_root_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Admin</span>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w( home ), namespace: 'admin') %>">
    <%= link_to admin_root_path do %>
      <i class="menu-icon fa fa-address-book-o admin-color"></i>
      <span class="menu-text"> Customers </span>
    <% end %>
  </li>
</ul>
