
<ul class="nav nav-list" data-turbolinks="false">
  <!--li class="<%= active_menu(%w( dashboard ), namespace: 'admin') %> ">
    <%= link_to admin_kpis_path do %>
      <i class="menu-icon fa fa-bank admin-color"></i>
      <span class="menu-text"> <%= t('pages.admin.dashboard')%> </span>
    <% end %>
  </li-->
  <!-- <li class="<%= active_menu(%w( tasks ), namespace: 'admin') %>">
    <%= link_to state_view_admin_tasks_path do %>
      <i class="menu-icon fa fa-trello admin-color"></i>
      <span class="menu-text"> TaskBoard </span>
    <% end %>
  </li> -->
  <li class="<%= active_menu(%w( kpis ), namespace: 'admin') %>">
    <% target_url = session["#{current_user.id}_kpi_list"] == true ? index_list_admin_kpis_path : admin_kpis_path %>
    <%= link_to target_url do %>
      <i class="menu-icon fa fa-cubes admin-color"></i>
      <span class="menu-text">KPIs</span>
    <% end %>
  </li>
  <li class="<%= active_menu(%w( item_fulfillments packing_action_records), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-building-o admin-color"></i>
      <span class="menu-text"> Warehouse </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( item_fulfillments ), actions: ['index', 'new', 'edit', 'show'], namespace: 'admin') %>">
        <%= link_to admin_item_fulfillments_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Packing Slips</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( item_fulfillments ), actions: ['packing_slip_report'], namespace: 'admin') %>">
        <%= link_to admin_packing_slip_report_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Packing Slip Report</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( item_fulfillments ), actions: ['netsuite_packing_slip'], namespace: 'admin') %>">
        <%= link_to admin_netsuite_packing_slip_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Packing Slip Check</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( packing_action_records ), actions: ['index'], namespace: 'admin') %>">
        <%= link_to admin_packing_action_records_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Packing Slip Analysis</span>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w( freights freight_requests transfers ), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-truck admin-color"></i>
      <span class="menu-text"> Freights </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( transfers ), actions: ['index', 'new', 'edit', 'show'], namespace: 'admin') %>">
        <%= link_to admin_transfers_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Transfer Requests</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( freight_requests ), actions: ['index', 'new', 'edit', 'show'], namespace: 'admin') %>">
        <%= link_to admin_freight_requests_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Freight Requests</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( freights ), actions: ['index', 'new', 'edit', 'show'], namespace: 'admin') %>">
        <%= link_to admin_freights_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Tax Invoice</span>
        <% end %>
      </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w( customers ), namespace: 'admin') %>">
    <%= link_to admin_customers_path do %>
      <i class="menu-icon fa fa-address-book-o admin-color"></i>
      <span class="menu-text"> Customers </span>
    <% end %>
  </li>
  <li class="<%= active_menu(%w( sales_orders ), namespace: 'admin', value: 'active') %>">
    <a href="<%= admin_sales_orders_path %>">
      <i class="menu-icon fa fa-list-alt admin-color"></i>
      Orders
    </a>
    <b class="arrow"></b>
  </li>

<li class="<%= active_menu(%w(netsuite_purchase_orders usd_payment_plans), namespace: 'admin', value: 'open') %>">
    <% if admin_or_in_the_payment_plan_list %>
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-building-o admin-color"></i>
        <span class="menu-text"> USD Payment </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
    <% end %>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( netsuite_purchase_orders ), actions: ['index', 'new', 'edit', 'show'], namespace: 'admin') %>">
        <%= link_to admin_netsuite_purchase_orders_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">Purchase Orders</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( usd_payment_plans ), actions: ['index', 'total_details', 'total_paid_details'], namespace: 'admin') %>">
        <%= link_to admin_usd_payment_plans_path do %>
          <i class="menu-icon fa fa-caret-right"></i>
          <span class="menu-text">USD Payment Plan</span>
        <% end %>
      </li>
      
    </ul>
  </li>

  <li class="<%= active_menu(%w(inventory_items display_orders product_brands attachments), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-tablet admin-color" aria-hidden="true"></i>
      <span class="menu-text"> Products </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( inventory_items ), namespace: 'admin', actions: %w{index show edit update}) %>">
        <%= link_to admin_inventory_items_path do %>
          <i class="menu-icon fa fa-bars"></i>
          <span class="menu-text"> Product List </span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( inventory_items ), namespace: 'admin', actions: "display_orders") %>">
        <%= link_to display_orders_admin_inventory_items_path do %>
          <i class="menu-icon fa fa-bars"></i>
          <span class="menu-text"> Display Sequence </span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( product_brands ), namespace: 'admin', actions: %w{index show edit new update create}) %>">
        <%= link_to admin_product_brands_path do %>
          <i class="menu-icon fa fa-bars"></i>
          <span class="menu-text"> Brands Management </span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( attachments ), namespace: 'admin', value: 'active') %>">
        <%= link_to admin_attachments_path do %>
          <i class="menu-icon fa fa-file-pdf-o admin-color"></i>
          <span class="menu-text"> Internal Download Center </span>
        <% end %>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(oswusers admin_users addresses netsuite_suppliers), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-user admin-color"></i>
      <span class="menu-text"> Contacts </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <% if current_user.system_user_authorized? %>
        <li class="<%= active_menu(%w( admin_users ), namespace: 'admin', value: 'active') %>">
          <a href="<%= admin_admin_users_path %>">
            <i class="menu-icon fa fa-user"></i>
            System Users
          </a>
          <b class="arrow"></b>
        </li>
      <% end %>
      <li class="<%= active_menu(%w( oswusers ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_oswusers_path %>">
          <i class="menu-icon fa fa-user"></i>
          OSW Users
        </a>
        <b class="arrow"></b>
      </li>
      <% if admin_or_in_the_payment_plan_list %>
        <li class="<%= active_menu(%w( netsuite_suppliers ), namespace: 'admin', value: 'active') %>">
          <a href="<%= admin_netsuite_suppliers_path %>">
            <i class="menu-icon fa fa-user"></i>
            Suppliers
          </a>
          <b class="arrow"></b>
        </li>
      <% end %>
      <li class="<%= active_menu(%w( addresses ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_addresses_path %>">
          <i class="menu-icon fa fa-user"></i>
          Addresses
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w(market_report stc_registries), namespace: 'admin', value: 'open') %>">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-bar-chart-o admin-color"></i>
        <span class="menu-text"> Reports </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="<%= active_menu(%w(market_report),  actions: ['index'], namespace: 'admin') %>">
          <%= link_to admin_market_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Sales Volume Report </span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report),  actions: ['market_analysis_report'], namespace: 'admin') %>">
          <%= link_to admin_market_analysis_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Monthly/Quartly Analysis Report </span>
          <% end %>
        </li>
        <% if current_user.email.in?(MarketReport.run_out_rate_email_list) || current_user.admin? %>
          <li class="<%= active_menu(%w(market_report),  actions: ['run_out_rate'], namespace: 'admin') %>">
            <%= link_to admin_run_out_rate_path do %>
              <i class="menu-icon fa fa-caret-right"></i>
              <span class="menu-text">Run Out Rate Report </span>
            <% end %>
          </li>
        <% end %>
        <li class="<%= active_menu(%w(market_report), actions: ['weekly'], namespace: 'admin') %>">
          <%= link_to admin_weekly_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Sales Analysis Report</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['potential'], namespace: 'admin') %>">
          <%= link_to admin_potential_market_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Potential Market </span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(stc_registries), actions: %w[index details], namespace: 'admin') %>">
          <%= link_to admin_installation_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Installation Report </span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['sales'], namespace: 'admin') %>">
          <%= link_to admin_sales_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Sales Report</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['credit'], namespace: 'admin') %>">
          <%= link_to admin_credit_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Credit Report</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['stock_level_report'], namespace: 'admin') %>">
          <%= link_to admin_stock_level_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Stock Level Report</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['online_order_report'], namespace: 'admin') %>">
          <%= link_to admin_online_order_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">Online Order Report</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w(market_report), actions: ['osw_registration_report'], namespace: 'admin') %>">
          <%= link_to admin_osw_registration_report_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text">OSW Registration Report</span>
          <% end %>
        </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w(evaluations feedbacks), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-fire admin-color"></i>
      <span class="menu-text"> Feedbacks </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( evaluations ), namespace: 'admin') %>">
        <%= link_to admin_evaluations_path do %>
          <i class="menu-icon fa fa-commenting-o admin-color"></i>
          <span class="menu-text"> Evaluation </span>
        <% end %>
      </li>
      <% if current_user.email.in?(Feedback::WHITE_LIST) || current_user.admin? %>
      <li class="<%= active_menu(%w( feedbacks ), namespace: 'admin') %>">
        <%= link_to admin_feedbacks_path do %>
          <i class="menu-icon fa fa-commenting-o admin-color"></i>
          <span class="menu-text"> Feedbacks </span>
        <% end %>
      </li>        
      <% end %>
    </ul>
  </li>
  <li class="<%= active_menu(%w(workbooks workbook_items), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-pie-chart admin-color"></i>
      <span class="menu-text"> Forecast </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w(workbooks), actions: ['index'], namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_workbooks_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Workbook
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w(workbooks), actions: ['summary'], namespace: 'admin', value: 'active') %>">
        <a href="<%= summary_admin_workbooks_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Summary
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w(workbook_items), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_workbook_items_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Item Config
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>
  <li class="<%= active_menu(%w(invoices netsuite_sales_orders shopping_carts customer_item_prices item_receipts), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-database admin-color"></i>
      <span class="menu-text"> Netsuite </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( invoices ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_invoices_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Invoices
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( netsuite_sales_orders ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_netsuite_sales_orders_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Sales Orders
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( shopping_carts ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_shopping_carts_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Shopping Carts
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( customer_item_prices ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_customer_item_prices_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Customer Item Prices
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( item_receipts ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_item_receipts_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Item Receipts
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <!--li class="<%= active_menu(%w(notifications), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-comment-o admin-color"></i>
      <span class="menu-text"> Mobile </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( notifications ), actions: ['index', 'new', 'edit'], namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_notifications_path %>">
          <i class="menu-icon fa fa-list"></i>
          Notifications
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( notifications ), actions: ['devices'], namespace: 'admin', value: 'active') %>">
        <a href="<%= devices_admin_notifications_path %>">
          <i class="menu-icon fa fa-list"></i>
          Device List
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li-->

  <!--li class="<%= active_menu(%w( knowledges ), namespace: 'admin') %>">
    <%= link_to admin_knowledges_path do %>
      <i class="menu-icon fa fa-share-alt admin-color"></i>
      <span class="menu-text"> Knowledges </span>
    <% end %>
  </li-->

  <li class="<%= active_menu(%w( bid_projects bid_items ), namespace: 'admin') %>">
    <%= link_to admin_bid_projects_path do %>
      <i class="menu-icon fa fa-gavel admin-color"></i>
      <span class="menu-text"> Biddings </span>
    <% end %>
  </li>
  <li class="<%= active_menu(%w( sale_tasks), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-envelope-o admin-color"></i>
      <span class="menu-text"> Sales Tasks </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( sale_tasks ), namespace: 'admin', value: 'active') if params.dig(:current_nav).blank?%>">
        <a href="<%= admin_sale_tasks_path %>" data-turbolinks = "false">
          <i class="menu-icon fa fa-caret-right"></i>
          All Sales Tasks
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= "active" if params.dig(:current_nav) == "my_sale_jobs" %>">
        <a href="<%= admin_sale_tasks_path(current_nav: "my_sale_jobs") %>" data-turbolinks = "false">
          <i class="menu-icon fa fa-caret-right"></i>
           My Sales Tasks
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(campaigns smart_lists nlrecipients), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-fire admin-color"></i>
      <span class="menu-text"> Campaigns </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( campaigns ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_campaigns_path %>">
          <i class="menu-icon fa fa-envelope"></i>
          Campaigns
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( smart_lists ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_smart_lists_path %>">
          <i class="menu-icon fa fa-filter"></i>
          Smart Lists
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( nlrecipients ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_nlrecipients_path %>">
          <i class="menu-icon fa fa-group"></i>
          Newsletter Recipient
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(sources), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-tumblr admin-color"></i>
      <span class="menu-text"> News </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( blogs ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_blogs_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          News List
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( sources ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_sources_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Sources
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(session_videos speakers oswuser_comments session_ads session_categories), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa fa-road admin-color"></i>
      <span class="menu-text"> Solar Session </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( session_videos oswuser_comments session_ads session_categories), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_session_videos_path %>">
          <i class="menu-icon fa fa-envelope"></i>
          Video
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( speakers ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_speakers_path %>">
          <i class="menu-icon fa fa-envelope"></i>
          Speakers
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(events live_events), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-send admin-color"></i>
      <span class="menu-text"> Events </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <ul class="submenu">
      <li class="<%= active_menu(%w( live_events ), namespace: 'admin', value: 'active') %>">
        <%= link_to admin_live_events_path do %>
          <span class="menu-text"> Event Management</span>
        <% end %>
      </li>
      <li class="<%= active_menu(%w( events ), namespace: 'admin') %>">
        <%= link_to admin_events_path do %>
          <span class="menu-text"> Event Registration</span>
        <% end %>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(reward_proofs reward_records), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-trophy admin-color"></i>
      <span class="menu-text"> Mini Rewards </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( reward_proofs ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_reward_proofs_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Verify Mini
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( reward_records ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_reward_records_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          Claim Prize
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(photo_database blogs), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa fa-road admin-color"></i>
      <span class="menu-text"> Marketing </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
     <li class="<%= active_menu(%w( blogs ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_blogs_path %>">
          <i class="menu-icon fa fa-caret-right"></i>
          News List
        </a>
        <b class="arrow"></b>
      </li>
      <li class="<%= active_menu(%w( photo_database ), namespace: 'admin', value: 'active') %>">
        <a href="<%= admin_photo_database_index_path %>" data-turbolinks='false'>
          <i class="menu-icon fa fa-picture-o"></i>
          Photo Database
        </a>
        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= active_menu(%w(task_states kpi_percentages app_versions netsuite_accounts dicts panel_sizes recommendation_coefficients downloads), namespace: 'admin', value: 'open') %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-cogs admin-color"></i>
      <span class="menu-text"> Settings </span>
      <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
      <li class="<%= active_menu(%w( recommendation_coefficients ), namespace: 'admin', value: 'active') %>">
        <%= link_to admin_recommendation_coefficients_path do %>
          <i class="menu-icon fa fa-gavel admin-color"></i>
          <span class="menu-text"> Products Recommendations </span>
        <% end %>
      </li>
      <% if current_user.admin? || (current_user.role.to_i == 1 && current_user.department == 'Sales') %>
        <li class="<%= active_menu(%w( kpi_percentages ), namespace: 'admin', value: 'active') %>">
          <%= link_to admin_kpi_percentages_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text"> Sales KPI </span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.admin? %>
        <li class="<%= active_menu(%w( dicts ), namespace: 'admin', value: 'active') %>">
          <%= link_to admin_dicts_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text"> Dictionaries</span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w( netsuite_accounts ), namespace: 'admin', value: 'active') %>">
          <a href="<%= admin_netsuite_accounts_path %>">
            <i class="menu-icon fa fa-caret-right"></i>
            Netsuite Accounts
          </a>
          <b class="arrow"></b>
        </li>
        <li class="<%= active_menu(%w( app_versions ), namespace: 'admin', value: 'active') %>">
          <%= link_to admin_app_versions_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            <span class="menu-text"> App Versions </span>
          <% end %>
        </li>
        <li class="<%= active_menu(%w( panel_sizes ), namespace: 'admin', value: 'active') %>">
          <%= link_to admin_panel_sizes_path do %>
            <i class="menu-icon fa fa-gavel admin-color"></i>
            <span class="menu-text"> Panel Size Setting(Quick Quote) </span>
          <% end %>
        </li>
      <% end %>
      <li class="<%= active_menu(%w( downloads ), namespace: 'admin', value: 'active') %>" style='display: none;'>
        <%= link_to admin_downloads_path do %>
          <i class="menu-icon fa fa-gavel admin-color"></i>
          <span class="menu-text"> OSW Website Download Items </span>
        <% end %>
      </li>
    </ul>
  </li>
  <% if [26, 205, 273].include?(current_user.id) %>
    <li class="<%= active_menu(%w(rake_logs sync_netsuite_logs), namespace: 'admin', value: 'open') %>">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-exclamation-circle admin-color"></i>
        <span class="menu-text"> System Logs </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="<%= active_menu(%w( rake_logs ), namespace: 'admin', value: 'active') %>">
          <a href="<%= admin_rake_logs_path %>">
            <i class="menu-icon fa fa-caret-right"></i>
            Rake Logs
          </a>
          <b class="arrow"></b>
        </li>
        <li class="<%= active_menu(%w( sync_netsuite_logs ), namespace: 'admin', value: 'active') %>">
          <a href="<%= admin_sync_netsuite_logs_path %>">
            <i class="menu-icon fa fa-caret-right"></i>
            Sync Netsuite Logs
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
